<div class="product-desc">
  <p>Title: <%= @product.title %></p>
  <p>Description: <%= @product.description %></p>
</div>

<div class="product-desc">
  <%= render 'admin/colors/product_color' %>
</div>