<div class='dashboard-container container'>
  <h3 class= "a">Categories</h3>
  <h5><%= @categories.count %></h5>
</div>

<div class='dashboard-container container'>
  <h3>Products</h3>
  <h5><%= @products.count %></h5>
</div>

<div class='dashboard-display'>
  <div class='category-all'>
    <div class='dashboard-head'>
      <h2>
        WE SELL
      </h2>
    </div>
    <div class='dashboard-grid'>
      <% @categories.each do |category| %>
        <div class='dashboard-categories'>
          <button type="button" class="btn btn-primary dashboard-btn"><%= category.name %></button>
        </div>
      <% end %>
    </div>
  </div>

  <div class='product-all'>
    <div class='recent-table'>
      <div class='dashboard-head'>
        <h4>
          OUR RECENT PRODUCT
        </h4>
      </div>
      <% @recent_products.map do |product| %>
        <div class='grid-products'>
            <button type="button" class="btn btn-warning dashboard-products"><%= product.title %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>


