<div class="dashboard-container">
  <h3 class= "a">Categories</h3>
  <h5><%= @categories.count %></h5>
</div>

<div class="dashboard-container">
  <h3>Products</h3>
  <h5><%= @products.count %></h5>
</div>
