<div class='dashboard-container container'>
  <h3 class= "a">Categories</h3>
  <h5><%= @categories.count %></h5>
</div>

<div class='dashboard-container container'>
  <h3>Products</h3>
  <h5><%= @products.count %></h5>
</div>

<div>
  <table class='table category-all-table'>
    </tbody>
      <tr>
        <th>
          WE SELL
        </th>
      </tr>
      <% @categories.each do |category| %>
        <tr>
          <td>
            <%= category.name %>
          </td>
        </tr>
      <% end %>
    <tbody>
  </table>

  <table class='table recent-table'>
    <tr>
      <th>
        OUR RECENT PRODUCT
      </th>
    </tr>
    <% @recent_products.map do |product| %>
      <tr>
        <td>
          <%= product.title %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

