<div class="head">
  <h3>Listing categories</h3>
</div>
<div class="head">
  <%= button_to 'New Category', new_admin_category_path, class: 'new-btn primary btn', method: :get %>
</div>

<table class="table category-table">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td class="list_description">
        <dl>
          <dt><%= category.name %></dt>
        </dl>
      </td>
      <td class="list_actions">
        <%= link_to 'Edit', edit_admin_category_path(category), class: 'btn primary btn-mini' %>
        <%= link_to 'Destroy', admin_category_path(category), method: :delete,
        data: { confirm: "You are going to delete #{ category.name } category. Sure?" }, class: 'btn primary btn-mini' %>
      </td>
    </tr>
  <% end %>
</table>
