.dashboard-container {
  display: inline-block;
  width: 25%;
  height: 25%;
  text-align: center;
  border: 2px solid black;
  margin-left: 20%;
}

.category-all-table {
  width: 10%;
  display: inline-block;
  border: 2px solid;
  
  margin: 10% 30% 10%;
}

.recent-table {
  width: 20%;
  display: inline-block;
  border: 2px solid;
  margin-left: 10% 30% 10%;
}