<td></td>
<td></td>
<td>
  <%= color.name %>
</td>
<td>
  <% color.images do |image| %>
    <%= image_tag Image.first.display_pic.url %>
  <% end %>
</td>
<td class="list_actions"> 
  <%= link_to 'Edit', edit_admin_color_path(color), class: 'btn btn-mini', remote:true %>
  <%= link_to 'Destroy', admin_color_path(color), method: :delete, data: { confirm: "You are going to delete #{ color.name } color. Sure?" }, class: 'btn btn-mini', remote:true %>
</td>