<div class="head">
  <h3>Listing colors</h3>
</div>
<div class="head">
  <%= button_to 'New Color', new_admin_product_color_path(@product), class: 'new-btn', method: :get %>
</div>


<div id="color-form"></div>

<table class="table table-striped color-table">
  <tr>
    <th>Name</th>
    <th>Images</th>
    <th>Actions</th>
  </tr>
  <% @colors.each do |color| %>
    <tr id="color_<%= color.id %>">
      <%= render partial: 'admin/colors/color', locals: {color: color} %>
    </tr>
  <% end %>
</table>
