<div class="head">
  <h3>Listing Sizes</h3>
</div>
<div class="head">
  <%= button_to 'New Size', new_admin_product_size_path(@product), class: 'new-btn', method: :get, remote: true %>
</div>

<div id="size-form"></div>

<table class="table table-striped size-table">
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Price</th>
    <th>Discounted Price</th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>
  <% @sizes.each do |size| %>
  <tr id="size_<%= size.id %>">
    <%= render partial: 'admin/sizes/size', locals: {size: size} %>
  </tr>
  <% end %>
</table>
